<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
</head>
<body>

    <a href="/currency/source/create/"> Create Source </a>

    <h2>
        Source List
    </h2>
    <table>
        <tr>
            <th> ID </th>
            <th> Source Name </th>
            <th> Source URL </th>
            <th> Updated </th>
            <th> Created </th>
        </tr>
        {% for source in sources %}
        <tr>
            <td> {{ source.id }} </td>
            <td> {{ source.source_name }} </td>
            <td> {{ source.source_url }} </td>
            <td> {{ source.updated }} </td>
            <td> {{ source.created }} </td>
            <td><a href="/currency/source/update/{{ source.id }}/"> Edit </a></td>
        </tr>
        {% endfor %}

    </table>
<!-- {% for rate in objects %}
    <p>
        ID: {{ rate.id }}
        Buy: {{ rate.buy }}
        Sale: {{ rate.sale }}
    </p>
{% endfor %} -->

</body>
</html>